:root {
  --cancel-color: red;
  --success-color: green;
  --width-button: 200px;
  --height-button: 50px;
}

.Div-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
  padding: 20px;
  gap: 15px;
}

.Div-Container div {
  margin-bottom: 10px;
}

#LogoPath {
  width: 180px;
  height: auto;
  object-fit: cover;
}

#ContainerDIV {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

#ArrowBTN {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  top: 22px;
  z-index: 9999;
}
